.blurb-container{
  width: 100vw;
  padding-top: 5vh;
}
.toolTitle{
  text-align: right;
  font-size: 2vw;
}
.homePageText{
  color: #000000;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.25vw;
}
.blurb-row {
  display:flex;
  flex-direction: row;
  padding-left: 20vw;
  width: 80vw;
}
.colLeft{
  padding-top: 20vh;
  width: 50vw;

}
.colRight {
  width: 40vw;
}

hr{
  margin-left: 10vw;
  width: 80vw;
}

#algaebloom-mapimg {
  top: 50vh;
  left: 2vw;
  width: 50vw;
  position: fixed;
  max-width: 80vw;
  color: black;
}