.search-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10vh;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 80vw;
    margin-left: 10vw;
}

.dropdown {
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin-left: 10vw;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    width: calc(33.3333% - 2px);
    display: flex;
    align-items: center;
}

.dropdown li:hover {
    background-color: #f8f8f8;
}


.dropdown li span {
    font-size: 14px;
}

.senators-info {
    margin-top: 20px;
    margin-left: 10vw;
}

.senator-info {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70vw;
}

.senator-info h3 {
    margin-bottom: 10px;
    color: #333;
}

.senator-info p {
    margin: 0;
    color: #666;
}


.senator-info:hover {
    background-color: #f8f8f8;
}

.action-title {
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: var(--secondary);
}

.senator-title {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: left;
    font-size: 2vw;
    letter-spacing: .05em;
    color: var(--secondary);
    font-weight: bold;
}

.blurb {
    max-width: 80vw;
    margin: auto;
    text-align: justify;
    line-height: 1.6;
    font-size: 16px;
}

.blurb strong {
    font-weight: bold;
}

.blurb ul {
    list-style-type: disc;
    margin-left: 20px;
}

.blurb li {
    margin-bottom: 10px;
}