
.faqs{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;
}
.faqs .faq {

    padding-top: 15px;
    background-color: #FFF;
}

.faqs .faq .faq-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    font-weight: 20;
    transition: all 0.4s ease;
}


.faqs .faq .faq-answer{
    opacity: 0;
    max-height: 0;
    overflow-y:hidden;

}

.faqs .faq.open .faq-question{
    margin-bottom: 15px;
}

.faqs .faq.open .faq-answer{
    max-height: 1000px;
    opacity: 1;
    font-weight: 57;
}

.faqTitle{
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: var(--secondary);
    font-size: 2vw;
}
.eyebrow {
    border-top: 3px solid var(--primary); /* Change to your desired line color */
    width: 10%; /* Adjust the width of the line as needed */
    padding-bottom: 30px;
}

.line {
    border-top: 1px solid #d3d3d3; /* Change to your desired line color */
    width: 100%; /* Adjust the width of the line as needed */
    margin: 10px 0;
}

#faqcaret{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0; /* Align to the top */
    right: 10px; /* Align to the right */

}

.rotate {
  transform: rotate(180deg); /* Adjust the degree of rotation as needed */
}