/* Ensure the main content area takes up the available space */
#site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the container takes at least the full viewport height */
}

/* Add some margin to the content-wrap to create space for the footer */
.content-wrap {
  flex-grow: 1; /* Allow the content to grow and take up available space */
  margin-bottom: 100px; /* Adjust the value as needed */
}


footer {
  background-color: var(--secondary);
  bottom: 0;
  left: 0;
  right:0;
  padding-left: 3vw;
  padding-right: 3vw;
  height: 40vh;


}

.col{
  display: inline-block;
  padding-right: 10vw;
  vertical-align: top;

}

.names {
  list-style:none;
  padding:0 0;

}
li{
  padding-left:0;
  font-size: 1rem;
  color: #FAF1E4;
  margin-bottom: 1vh;
}
li.title {
  color:#9EB384 ;
}
li.address {
  padding-top: 1vh;
}
p {
  color: #FAF1E4;
  text-align: center;
  padding-top: 4rem;
}
a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
}
li.link:hover {
    opacity: 0.7;
}

