.layout{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}
.container {
  margin-top:auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content at the bottom */
}
.row{
  background-color: var(--secondary);
  width: 100vw;
}

.col{
  display: inline-block;
  padding-right: 10vw;
  vertical-align: top;
  margin-left: 3vw;
}

.names {
  list-style:none;
  padding:0 0;

}
li{
  padding-left:0;
  font-size: 1vw;
  color: #FAF1E4;
  margin-bottom: 1vh;
}
li.title {
  color:#9EB384 ;
}
li.address {
  padding-top: 1vh;
}
.footerText {
  color: #FAF1E4;
  text-align: center;
  padding-top: 4rem;
  font-size: 1vw;
}
a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Text color for links */
}
li.link:hover {
    opacity: 0.7;
}

