body {
  margin: 0;
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#site-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

:root {
  --primary: #CEDEBD;
  --secondary: #FAF1E4;
  --accent: #9EB384;
  --text: #435334;
}

.hello {
  color: var(--text);
  text-align: center;
  text-justify: center;
}

.navbar {
  height: 10vh;
  width: 100vw;
  background-color: var(--secondary);
  padding: 0 1rem;
}

.footer {
  height: 20vh;
  width: 100vw;
  margin-top: auto;
  background-color: var(--secondary);
  padding: 0 1rem;
}