body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

:root {
  --primary: #FAF1E4;
  --secondary: #CEDEBD;
  --accent: #9EB384;
  --text: #435334;
}

.hello {
  color: var(--text);
  text-align: center;
  text-justify: center;
}

.navbar {
  height: 10vh;
  background-color: var(--secondary);
  padding: 0 1rem;
}

.footer {
  height: 20vh;
  width: 100vw;
  background-color: var(--secondary);
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
}