.about-title {
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: var(--secondary);
}

.name {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 1.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 3.5vw;
    color: var(--secondary)
}

.our-team {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    line-height: 3.5vw;
    letter-spacing: .075;
    text-align: center;
    color: var(--secondary)
}

.top-text {
    text-align: center;
    margin-top: 7%;
}

.bottom-text {
    text-align: center;
    color: var(--secondary);
}


.about-hr {
    margin-bottom: 75px;
}

html {
    box-sizing: border-box;
}

.row-one, .row-two {
    display: flex;
    justify-content: center;
}

.column {
    width: 33.3%;
    max-width: 350px;
    margin-bottom: 15px;
    padding: 0px 8px;
}

.row-two > .column {
    float: left;
}

.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.175);
    margin: 7.5px;

}

.team-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: 45vh;
    font-size: 2vh;
}

.sponsor-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: 20vh;
    font-size: 2vh;
}

.role {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--secondary);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

.row-one, .row-two {
    width: 100%;
}

.about-us-text{
    width: 80vw;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
}

#pfp {
    width: 100%;
    overflow: hidden;
}

#ddp {
    width: 50%;
    display: block;
    margin-left: 25%;
    border: 3px solid #555;
    margin-bottom: 25px;
}

@media screen and (max-width: 650px) {
    .sponsor-container {
        font-size: 2vh;
    }

    .team-container {
        font-size: 2vh;
    }
}
